{% extends 'base.html' %}

{% block title %}Home of NFL Fantasy Game{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header">Welcome to a new Fantasy Football Game</div>
          <div class="card-body">
            <div class="container">
                <p>Sooner or later you might find here a brand new NFL Fantasy Football Game!</p>
                <p>Till then, this is only a fancy preview and test site :-)</p>
                <p></p>
                <p>SWISI</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>




{% endblock %}
