{% extends 'base.html' %}

{% block content %}

     
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>NFL Weekly Stats</h2>
                </div>
                <div class="card-body">
                    <table class="table data-table">
                        <thead>
                            <tr>
                                <th width="20">ID</th>
                                <th>Season</th>
                                <th>Week</th>
                                <th>Player</th>
                                <th>Position</th>
                                <th>Fantasy Points</th>
                                <th>Fantasy Points ppr</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



     
<script type="text/javascript">
    $(document).ready(function() {

        $('.data-table').dataTable({
            processing: true,
            serverSide: false,
            ordering:  true,
            pageLength: 25,
            columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        return "<button class='btn btn-danger btn-delete' data-pk='" + row.pk + "'>" + 'Delete' + "</button>";
                    },
                    "targets": 0,
                    "visible": false,
                },
                {
                "targets": 5, // hier "3" ist die Spaltennummer, die Sie formatieren möchten
                "render": function ( data, type, row ) {
                    return parseFloat(data).toFixed(3); // runden Sie die Zahl auf 3 Nachkommastellen
                    }
                },
                {
                "targets": 6, // hier "3" ist die Spaltennummer, die Sie formatieren möchten
                "render": function ( data, type, row ) {
                    return parseFloat(data).toFixed(3); // runden Sie die Zahl auf 3 Nachkommastellen
                    }
                }
            ],
            ajax: {
                url: "{% url 'fetchstats' %}",
                dataSrc: "",
            },
            columns: [
                { data: "pk" },
                { data: "fields.season" },
                { data: "fields.week" },
                { data: "fields.player_display_name" },
                { data: "fields.position" },
                { data: "fields.fantasy_points" },
                { data: "fields.fantasy_points_ppr" },
            ]
        });
    });
</script>
{% endblock %}